<h1><%= @facade.playground_name %></h1> 
<h2><%= @facade.playground_address %>  Rating: <%= @facade.playground_rating %>

<h3>Reviews:</h3>
<ul>
<% @facade.reviews.each do |review| %>
  <div id='review_<%= review.id %>'>
  <li><p><b>Author: </b><%= review.user_name %>  <b>Rating: </b><%= review.rating %><p></li>
  <p><b>Review: </b><%= review.comment %></p>
  </div>
  <br>
<% end %>
  </ul>
 
<% if current_user %>
  <%= form_with url: '/add_to_favorites', local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :playground_id, value: @facade.id %>
  <%= f.hidden_field :playground_name, value: @facade.playground_name %>
  <%= f.submit 'This Place Rules!' %>
  <% end %>
<% end %>