<h1>Welcome to PlayPal</h1>
<h3>The one stop shop for discovering playgrounds near you!</h3>

<% if session[:user_id] %>
  <%= button_to 'Logout', '/logout', method: :delete %>
<% else %>
  <%= link_to 'Login With Google', '/auth/google_oauth2' %>
<% end %>
<br><br>
<h3>Find a Playground Near Me</h3>
<%= form_with url: '/playgrounds', method: :get, local: true do |f| %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br><br>
  <%= f.label :radius, 'Search Mile Radius', step: 0.5 %>
  <%= f.number_field :radius %>
  <br><br>
  <%= f.submit 'Discover Playgrounds' %>
<% end %>