        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-4">
                    <h1 class="masthead-heading mb-0">Welcome to PlayPal</h1>
                    <%= image_tag('Colorful Cute Rainbow Baby Clothes Logo.png') %>
                    <br><br><br><br>
                    <h3>Find a Playground Near Me</h3>
                    <br>
                    <%= form_with url: '/playgrounds', method: :get, local: true do |f| %>
                      <h6><%= f.label :location %></h6>
                      <%= f.text_field :location, class: 'rounded-pill' %>
                      <br><br>
                      <h6><%= f.label :radius, 'Search Mile Radius' %></h6>
                      <%= f.number_field :radius, class: 'rounded-pill', step: 0.5 %>
                      <br>
                      <% flash.each do |type, message| %>
                        <h4 class="error_msg"><%= message %></h4>
                      <% end %>
                      <%= f.submit 'Discover Playgrounds', class: 'btn btn-primary btn-xl rounded-pill mt-5' %>
                    <% end %>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>