<h1>PlayPal Review</h1>

<%= form_with url: "/playgrounds/#{@playground_id}/reviews", method: :post, local: true do |f| %>
  <%= f.label :rating, 'Rating:' %>
  <%= f.number_field :rating %>
  <br><br>
  <%= f.label :comment, 'Review:', step: 0.5 %>
  <%= f.text_field :comment %>
  <br><br>
  <%= f.label :image, 'Upload Image:', step: 0.5 %>
  <%= f.file_field :image %>
  <br><br>
  <%= f.submit 'Tell em!' %>
<% end %>

