<!DOCTYPE html>
<html>
  <head>
    <title>PlayPalFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% flash.each do |type, message| %>
    <p><%= message %></p>
    <% end %>
    <%= link_to 'Home', root_path %>
    <% if current_user %>
      <%= link_to 'Dashboard', dashboard_path %>
    <% end %>
      <%= yield %>
  </body>
</html>
